# Nagios configuration for corporate website monitoring

define host {
    use                     generic-host
    host_name               corporate-website
    alias                   ABC Technologies Website
    address                 192.168.49.2
    max_check_attempts      5
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}

define service {
    use                     generic-service
    host_name               corporate-website
    service_description     HTTP Service
    check_command           check_http!-p 30080
    max_check_attempts      3
    check_interval          1
    retry_interval          1
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}
